[2021-10-27 11:38] haesleinhuepf opened #3 "Interactivity with the labels layer"
Hi Laura @lazigu ,

I just figured out some things regarding the interactivity. If you want to interact with a labels layer, one needs to activate the "picker tool" and the "show selected" checkbox:
![](https://github.com/haesleinhuepf/napari-skimage-regionprops/raw/master/images/interactive.png)

Furthermore, if you want to react on clicks in the labels layer, you can do it like this:
https://git

[2021-11-08 12:43] #3 closed, assigned to nobody

[2021-11-09 17:04] lazigu opened #6 "Clustering id selection bug"
After closing the plotter widget, and reopening it after kmeans clustering, the plot from the previous session is still plotted and previously selected layers/axes are selected. Therefore, newly measured KMEANS_cluster_id is not visible in the list. The same label image needs to be “reselected” to be able to see KMEANS_cluster_id in the list, which might be confusing.

[2021-11-10 16:17] lazigu opened #7 "Rectangle bugs"
1. Rectangle does not disappear when KMEANS_cluster_id is plotted

If for example KMEANS_cluster_id is selected but before selecting it and clicking 'run', a rectangle was drawn, the rectangle stays in place and does not disappear, which does not make sense anymore as different clusters are displayed.
![image](https://user-images.githubusercontent.com/52177660/141149968-3d020451-1b75-4509-a2f6-c2e

[2021-11-10 16:22] lazigu opened #8 "Parametric cluster image is generated even when there are no data points in the rectangle"
It could be checked that some data points are actually included in the rectangle. Because even if they are not, the plugin starts to generate a parametric cluster image, therefore, the colour of dots changes from grey to orange, meaning that all data points are in one cluster, and a weird zoom happens automatically by matplotlib.
![image](https://user-images.githubusercontent.com/52177660/14096917

[2021-11-12 12:03] Cryaaa opened #13 "Selected from the region properties table label display error"
I have a bug when I click on the properties table to select a certain cell in it. I get a traceback error as soon as I click any field in the table:
KeyError: 'label' (see attached file for full error message). This only happens if I load the properties from a csv file and not if I generate them with the plugin widget. I'll also attach my csv for reference.
[Issue clicking on uploaded properties t

[2021-11-13 20:01] #8 closed, assigned to nobody

[2021-11-15 10:18] #7 closed, assigned to nobody

[2021-11-15 11:12] #13 closed, assigned to lazigu

[2021-11-16 10:06] mimuelle opened #18 "Supporting multi-FOV and timelapse stacks"
Hi,
What an absolutely amazing tool! Saw it yesterday and couldn't wait to test it! :)
I first tested it on a single FOV, which worked beautifully (feature extraction, plotting, interactive highlighting of cells, clustering, UMAP).

I mostly work with multi-FOV and timelapse images though, so I wanted to try this as well and realized that (if I'm not mistaken) the features are extracted 'per label

[2021-11-17 16:32] Czaki opened #20 "Use things from magicgui for simplify code"
using parts of `magicgui` may simplify the codebase:
 * `magicgui.widgets.create_widget` could allow to simplify getting layer selector. `create_widget(annotation=Labels, label="ROI")`  which returns magicgui widget but its `native` property holds Qt Widget and its `value` property holds layer.  This allows not to keep and maintain code for layer selection. Example:  https://github.com/4DNucleome/

[2021-11-17 17:07] Czaki opened #21 "Use `color` dict instead of recalculate labels"
Use color `dict` instead of calculating new labels data.

https://github.com/BiAPoL/napari-clusters-plotter/blob/5e90688096e5dcb82e65c4ebaec40de2ec41857c/napari_clusters_plotter/_plotter.py#L378-L384

Labels layer allow to provide coloring as `{0: 'black', 1: "red", 2: "blue", 3: "red" ...}` Which updating is much faster than recalculationg whole labels data.

example: https://github.com/4DNucleom

[2021-11-24 12:17] lazigu commented on #18
Hi @mimuelle,

Sorry for the delayed reply.
First of all, thank you so much for such kind feedback! I'm so happy to hear that you have already tried out the plugin and it worked nicely for a single FOV.

Secondly, I completely agree that it would be amazing to have support for timelapse images in the plugin. We also work with timelapse data. The image from the documentation example gif is original

[2021-12-03 15:07] Michael-shannon opened #27 "How to create labels layer 'Cluster IDs in Space'?"
Hiya

Great tool and really easy to use - thank you.

I couldn't quite understand how to create the new labels layer called 'cluster_IDs_in_space' that you have in the readme. After completing the UMAP and K-means, I can get a plot of UMAP0 vs UMAP1, on which I can draw clusters, and can view my originally segmented image on top of the raw one, but I am stuck creating this new layer required to tr

[2021-12-03 17:52] lazigu commented on #27
Hi, Michael!

I'm happy to hear that you tried out the plugin and it was easy to use so far!

Regarding the 'cluster_IDs_in_space' layer, it is generated automatically, when you select UMAP_1 and UMAP_0 as axes and select KMEANS_CLUSTER_ID in the "CLustering" field.

![image](https://user-images.githubusercontent.com/52177660/144647039-3df9cd68-471c-4322-8616-603e25d34795.png)

Then after you clic

[2021-12-05 12:00] mimuelle commented on #18
Hi Laura,
Thanks for your reply!
Maybe it would make sense not to start with a timelapse but just a multi-FOV dataset? Then at least the tracking of cells over images is not necessary, which could eventually be included later on. Because for both cases I guess label_ids have to be handled independently from image to image, therefore requiring some additional "unique identifier".
I'm really looking

[2021-12-06 10:40] Cryaaa opened #28 "Manual cluster selection after zooming in plot"
When I zoom in on the plot I cannot get back to the lasso selector for selecting manual clusters. I guess a button for that would be useful or that it reverts back to it automatically after zooming in.

[2021-12-07 09:23] zoccoler commented on #28
Hi @Cryaaa,

I was able to get back the lasso tool after zooming if I click again on the zoom button. I think this is the default usage of the matplotlib toolbar, being the 'zoom' and 'pan' buttons more like a toggle-button rather than a pushbutton.

We can either leave it like this and put in the documentation or override this behavior similar to what we did to the 'save' button. Which do you guy

[2021-12-07 10:11] Cryaaa commented on #28
Hi @zoccoler
Ahhhhh I didn't even think to do that for some reason :D. I think it should be mentioned somewhere definitely! I don't know if its difficult to implement but maybe if you hover above the zoom icon it could be mentioned? Otherwise the documentation would be enough.

[2021-12-07 10:26] Cryaaa commented on #21
Hey @Czaki,
thank you for your feedback! implementing this method of visualisation did indeed speed up the visualisation of clusters, especially when in the 2D view where it removed all of the computing time!

[2021-12-07 16:53] Czaki opened #31 "Use pre-commit to increase code quality"
There is a really nice tool to perform multiply automated code quality tests (and apply auto-fixes if possible) before committing.

It is called pre-commit. https://pre-commit.com/

An example of its usage you could be found in:
1) napari:  https://github.com/napari/napari/blob/main/.pre-commit-config.yaml
2) superqt https://github.com/napari/superqt/blob/main/.pre-commit-config.yaml
3) PartSeg ht

[2021-12-07 17:55] lazigu commented on #31
Hi @Czaki, thanks a lot for this, I will look into it!

[2021-12-07 18:10] lazigu commented on #28
I think to mention it in the documentation would be enough in case somebody else runs into the same issue.

[2021-12-08 18:57] #20 closed

[2021-12-08 19:04] #6 closed

[2021-12-15 17:33] #28 closed

[2021-12-21 10:33] #21 closed

[2021-12-22 10:12] haesleinhuepf opened #35 "Selecting data points doesn't work anymore in ncp 0.2.1"
Hi Laura @lazigu, hi all,

I was just excited about the new version and tested it. Unfortunately, selecting data points in the plot doesn't work anymore. :-(

Here is what I did:
* Install napari, napari-clusters-plotter, napari-segment-blobs-and-things-with-membranes, napari-pyclesperanto-assistant
* I opened `File > open examles > clesperanto > blobs (from ImageJ)`
* I segmented it using `Tools

[2021-12-22 10:19] haesleinhuepf commented on #35
Update: It was my fault! :-)

It does work in the current napari release 0.4.12, but it does not work in the current development branch (napari-0.4.13.dev139+g3069f2dc). Thus, forget what I said. We just need to check everything carefully when the next napari release is in sight.

Happy Holidays!
Robert

[2021-12-22 10:22] lazigu commented on #35
Hi Robert @haesleinhuepf ,

Ahh thanks a lot! Scared me for a second that this new release is with such a major bug even though I thought I tested it thoroughly :D
We will keep it in mind for the next napari release then!

Happy holidays to you too!
Laura

[2021-12-22 10:23] haesleinhuepf commented on #35
Sorry for the scaring second :-)

[2021-12-22 10:26] lazigu commented on #35
No worries! Let me know if there are any other bugs that I might have missed :)

[2022-01-12 17:19] haesleinhuepf opened #36 "Progress bar for k-Means clustering and friends"
Hi all,

Fabrice Senger had a good idea for improving ncp: A progress bar for the operations that take a long time:
https://forum.image.sc/t/dont-yet-support-nd-fancy-indexing/61878/2

There's something about this in the napari documentation:
https://napari.org/docs/dev/api/napari.utils.progress.html

Happy to have a chat about that request. It's not urgent btw. but I think nice-to-have. :-)

Best

[2022-01-14 09:58] haesleinhuepf opened #37 "`Don't yet support nd fancy indexing` error"
Hi all,

Fabrice Senger reported an error [on the image.sc forum](https://forum.image.sc/t/dont-yet-support-nd-fancy-indexing/61878/8): In case the image dataset is loaded as [dask array](https://docs.dask.org/en/stable/array.html), the clusters plotter `Measurement Widget` throws an error (see below).

The solution might be as simple as [this](https://github.com/haesleinhuepf/napari-cupy-image-pr

[2022-01-15 19:28] haesleinhuepf commented on #35
I'm reopening this issue because it doesn't work in napari 0.4.13rc1, which was just published. I think we still have some days until napari 0.4.13 releases. Hence, not super urgent. But we should dig into this... :-)

Try it out using

[code]

@lazigu @Cryaaa @zoccoler

[2022-01-17 10:44] lazigu commented on #35
Thanks a lot for letting me know, Robert @haesleinhuepf.
I will get to work on it today or tomorrow.

[2022-01-18 15:40] lazigu commented on #36
Hi @haesleinhuepf,

I actually also had this idea, but because for me napari usually stops responding even during not demanding tasks, and 'comes back to life' soon, I gave up on the idea :D
But I understand that for other users it would be great to have this implemented so I will try!

Best wishes,
Laura

[2022-01-20 16:35] #35 closed

[2022-01-20 17:18] lazigu commented on #27
Hi Michael @Michael-shannon, any follow up on this? We changed a bit how the 'Cluster IDs in space' layer is generated in newer releases, so maybe you have tried that?
Otherwise, I would close this issue :)

Best wishes,
Laura

[2022-01-26 16:27] jo-mueller opened #39 "ValueError: numpy.ndarray size changed when calling import hdbscan"
I recently installed the clusters plotter and ran into an issue when running hdbscan. When I run the clustering on a set of measurements (e.g., based on blobs.gif), I receive this error:

`ValueError: numpy.ndarray size changed, may indicate binary incompatibility. Expected 96 from C header, got 88 from PyObject`

Here's a screenshot of the setup

![Unbenannt](https://user-images.githubusercontent

[2022-01-27 12:03] lazigu commented on #39
Hi, Johannes @jo-mueller, thanks for reporting! So I just tried to reproduce the error on two laptops but I wasn't successful, the plugin works fine on both machines. But with one laptop, which is quite old, it's a different story since I am creating there an environment with a lower python version (3.8), and lower pyopencl version (2020.1). While with my laptop I always need to install hdbscan vi

[2022-01-31 10:12] #27 closed

[2022-02-01 08:45] jo-mueller commented on #39
Hi Laura @lazigu ,

thanks for the quick fix, this solves it :) I'll make a small PR to add this to the troubleshooting.

[2022-02-01 10:53] #39 closed

[2022-02-26 14:56] #31 closed

[2022-02-28 19:33] #37 closed

[2022-03-08 14:18] ksugar opened #55 "WARNING: No ICDs were found."
During installation of `pyopencl` with the command,

[code]
I received the following warning message.

[code]

Can we ignore it, or should we follow one of the suggestions? Any recommendations on these options would be appreciated.

I am using `ubuntu 20.04` and the installed packages were as follows:

[code]

[2022-03-08 15:13] haesleinhuepf commented on #55
Hi Ko @ksugar ,

I think you can ignore that message (also as it's just a warning). However, if you later receive error messages, e.g. when using the [measurement widget](https://github.com/BiAPoL/napari-clusters-plotter#measurements), then please let us know so  that we can trace down the issue.

Thanks for reporting!

Best,
Robert

[2022-03-08 15:18] ksugar commented on #55
Thank you Robert @haesleinhuepf !

I will reopen this issue when something happens with opencl.

Best,
Ko

[2022-03-08 15:32] ksugar commented on #55
Hi @haesleinhuepf ,

I got the following error while running `Tools > Measurement > Measure intensity, shape and neighbor counts (ncp)`.
It looks the error is caused by OpenCL.

[code]

[2022-03-08 20:09] lazigu opened #56 "Errors due to NaN values if the first label is background"
In case segmentation is done other ways than suggested in the documentation, the first label might be a background label. This would cause errors due to the introduced NaN values in the region props table for the background label. For instance, error when trying to do dimensionality reduction.

Therefore, in the measurements widget, a checkbox "the first label is background" could be added, and if

[2022-03-08 21:56] haesleinhuepf commented on #55
Awesome, thanks for letting us know, @ksugar !

I reopen this so that we don't forget to update the documentation. 🙂

[2022-03-11 11:34] lazigu opened #58 "Work in progress: timelapse support"
Hi @Cryaaa, I need your help with one thing, maybe you can pinpoint the issue faster. The issue might have something to do with the code for the visualization of the cluster image, but it also might be somewhere deeper.
After seeing that video yesterday I was playing around with timelapses on [this branch](https://github.com/BiAPoL/napari-clusters-plotter/tree/try-timelapse-support), and so far wh

[2022-03-11 11:38] Cryaaa commented on #58
Hey @lazigu!
Definitely send the dataset (we transfer link or whatever you use usually would be best) so I can try this myself. I will look into this a bit, maybe we can discuss this issue on Tuesday next week in detail?

[2022-03-11 11:49] lazigu commented on #58
@Cryaaa good, Tuesday fits! I sent to you the data.

[2022-03-11 12:26] #55 closed

[2022-03-14 15:20] Cryaaa commented on #58
@lazigu just a small update. The problem seems to lie somewhere deep (not just with the generation of the cluster image). What happens is that the label column is displayed properly in the table but the connection to the labels in the image is wrong. For example the cell in the image with label = 1 gets given label 2 from the table and this shift is throughout the whole table. I'll see if I can tr

[2022-03-14 15:34] lazigu commented on #58
Forgot to mention, for the fix to work napari skimage regioprops newest version should be installed im the environment.

[2022-03-14 15:36] Cryaaa commented on #58
@lazigu that might be it then! I'll give it a try where the Roberts fix is and that might be it already. I'm also very sure that exactly that bug Robert fixed is causing the issues at the start of this discussion..

[2022-03-14 15:40] lazigu commented on #58
@Cryaaa I don’t think so that it is related to this issue :/ It fixes what is displayed in napari status bar, but actually nowhere else we are using the index column.

[2022-03-14 15:53] Cryaaa commented on #58
@lazigu I think you're right there. I found that if there is a background label 0 with properties of the background that the problem we are having might be solved. The thing is then we always have the background in the table (even multiple backgrounds for timelapse images). But maybe Robert @haesleinhuepf knows a way to remove or ignore the background labels in the napari skimage regionprops table

[2022-03-14 17:24] Cryaaa commented on #58
@lazigu, nevermind, I found the problem and it lied within the plotter widget. The next commit to this branch should fix it!

[2022-03-15 11:28] lazigu commented on #58
To do:

- Discuss how to handle background label/row in layer.properties/reg props table #56.
- Should it be standardized that uploaded reg props from the file need to contain timepoint/frame column?
- Settle on the name for the timepoint/frame column.
- Saving manual clustering results in the reg props table.
- Implement that the size of data points in the plot changes depending on how many data

[2022-03-16 12:51] Cryaaa opened #62 "Statistical Testing after Clustering"
As a last step in the workflow it could be nice to have a widget which based on a clustering can tell you in which features the groups differentiate from eachother. We could allow for the choice of a few statistical tests (although a good default choice could be the [Mann–Whitney U test](https://en.wikipedia.org/wiki/Mann%E2%80%93Whitney_U_test)) and a custom alpha to determine significant results

[2022-03-17 17:17] jo-mueller opened #63 "Test error"
Hi @lazigu ,

I see some errors in the github actions upon pushing/merging, etc:

[code]

It's an error in the gh actions, PR coming. Just making this issue to keep track of it.

[2022-03-23 23:05] #63 closed

[2022-03-24 08:08] jo-mueller commented on #56
Hey @lazigu ,

cool that you opened this issue. I am seeing this a lot when working with basically any data. Sometimes it happens that the segmentation leaves a few single-pixel labels, for which some measurements (e.g. `max-distance-to-centroid`) do not work and return NaN.

I played around with removing NaNs from the measurement list (which is fairly easy [here](https://github.com/BiAPoL/napari-

[2022-03-29 19:14] haesleinhuepf opened #68 "allow user to give a name to a clustering result"
I just hit a little issue: If I wanted to compare combinations of dimensionality reduction + clustering, I can't store all combinations in the same table, because I can't choose the name of result columns of the clustering. E.g. I wanted to combine
* PCA + KMeans
* PCA + HDBSCAN
* UMAP + KMeans
* UMAP + HDBSCAN

I think it would be nice if we could change the result table column name, e.g. "my_cus

[2022-03-29 19:26] haesleinhuepf commented on #68
Good point! Let's wait for things to be merged and then tackle this.

No hurry though. The next release will be amazing and we should take our time :-)

[2022-03-30 19:09] lazigu commented on #68
I tackled this in #44 as I was working with that code part anyway, I hope it´s ok. So my solution is that there is an editable part, which by default would be the selected algorithm name (displayed as a place holder text) and non-editable part, displayed just for clarification:

![image](https://user-images.githubusercontent.com/52177660/160909847-0c6fe828-c10e-45cc-82d2-5eef1b6d0cae.png)

I´m ope

[2022-03-30 19:23] haesleinhuepf commented on #68
I love it, Laura @lazigu ! 😃

[2022-03-30 19:36] lazigu commented on #68
I should maybe split it to a different PR, so it comes with a next release, not with a multithreading release. I will do it it tomorrow :)

[2022-03-31 11:51] lazigu commented on #68
Hi Robert @haesleinhuepf, Rayn @Cryaaa, in your opinion, would there be a need to also save manual clustering results with different column names or should this feature just be for the clustering widget?

[2022-04-04 12:35] #68 closed

[2022-04-12 06:32] kevinyamauchi opened #76 "set matplotlib backend locally?"
Hello! Thanks for the great library. I am trying to use `napari-clusters-plotter` as the plotting library for a measurement library. I've noticed that after plotting data using `napari-clusters-plotter` in a napari viewer launched from a jupyter notebook, the matplotlib plots executed in the notebook are no longer plotted in the notebook (i.e., "inline") and are instead plotted in qt widgets. I am

[2022-04-12 08:52] jo-mueller commented on #76
Hey @kevinyamauchi @Cryaaa ,

this is a good point! The plotting backend is indeed set globally [here](https://github.com/BiAPoL/napari-clusters-plotter/blob/4e17608fbfe82c152c0c638aaf0ca89335ca22ee/napari_clusters_plotter/_plotter.py#L36). Would changing this to `inline` directly put the plot into a noteboook? If so, we could surely declare the backend within the scope of the Plotting Widget.

An

[2022-04-12 19:53] zoccoler commented on #76
Hi @kevinyamauchi @Cryaaa @jo-mueller,

From my understanding, when you open a napari viewer from a jupyter notebook, the backend is changed to qt at that point, so I am not sure that the line mentioned would be what is causing the problem. You could check the current backend with `matplotlib.get_backend()`. In fact, I commented that line out and this still happens.

What is weird to me is that, i

[2022-04-13 08:27] kevinyamauchi commented on #76
Hey everyone. Thanks for the quick feedback!

Here's a small notebook I created to reproduce the issue: https://gist.github.com/kevinyamauchi/da344a35176ed9003aefc8a720fa4874

<details>
  <summary>Environment details</summary>
Environment:
napari: 0.4.15
Platform: macOS-10.15.7-x86_64-i386-64bit
System: MacOS 10.15.7
Python: 3.8.13 (default, Mar 28 2022, 06:16:26) [Clang 12.0.0 ]
Qt: 5.15.2
PyQt5:

[2022-04-13 09:44] zoccoler commented on #76
I did some more testing, and it might have been another plugin I had installed in the same environment which was setting the backend in a similar way...

In a clean environment, if [that line](https://github.com/BiAPoL/napari-clusters-plotter/blob/d8af60a73a90f8b1383b8aba2f39b4e8895d532b/napari_clusters_plotter/_plotter.py#L36) is deleted, it appears to fix this.

@jo-mueller,  @Cryaaa and I were

[2022-04-13 13:49] kevinyamauchi commented on #76
Awesome. Thanks, everyone!

[2022-04-14 13:07] Cryaaa commented on #76
@kevinyamauchi
The main branch was now updated so that this dependancy is removed! I guess it will be some time until this change makes it into the next release but maybe you can check it for yourself! This manual setting of the backend could also be present in some other plugins though just as a warning (we are in the process of removing it from our other plugins at the moment).

And if you are i

[2022-04-14 13:07] #76 closed

[2022-04-18 20:21] kevinyamauchi commented on #76
Awesome. Thanks! I will give it a go this week!

[2022-04-25 12:27] #36 closed

[2022-04-25 12:39] lazigu opened #79 "Block widget buttons when progress bar is shown"
**Possible minor future enhancement:**

It would be nice if buttons (restore_defaults, update, Run) were blocked so the user couldn´t be clicking around while a process is running. Unfortunately, to have stop/pause buttons is not possible because used functions (e.g. umap) are not generators i.e. do not yield an intermediate result only the final one, therefore the only way to stop a very long pro

[2022-04-29 10:01] Cryaaa opened #81 "Remove pyclesperanto prototype from dependencies"
- [ ] We could generate the cluster image with numpy IF pyclesperanto is not installed (it might also be possible to do the dictionary colormapping visualisation on a per timepoint basis).
- [x] Furthermore we should move measurement out of the plugin in general.

[2022-04-30 14:24] haesleinhuepf commented on #81
The measurements are already available in [napari-pyclesperanto-assistant](). I was just adding timelapse-support there. A release is imminent.

![image](https://user-images.githubusercontent.com/12660498/166109500-16b9030e-913e-44b1-849f-77b0765d46fe.png)

[2022-04-30 14:26] haesleinhuepf commented on #81
This function may be helpful:
https://github.com/haesleinhuepf/napari-skimage-regionprops/blob/master/napari_skimage_regionprops/_parametric_images.py#L5

It uses pyclesperanto as optional dependency and numpy otherwise.

[2022-04-30 14:54] Cryaaa commented on #81
@haesleinhuepf, awesome! I just have to take a quick look at our functions and see how directly we can implement this version instead!

[2022-04-30 15:08] haesleinhuepf opened #83 "Move `add_column_to_layer_tabular_data` upstream"
I'm a big fan of this method:

[`add_column_to_layer_tabular_data`](https://github.com/BiAPoL/napari-clusters-plotter/blob/d79673bedd579929441a2f6f952382bee9508767/napari_clusters_plotter/_utilities.py#L40)

Would anyone mind if we move it to napari-skimage-regionprops? For backwards compatibility we could then import it in utilities like this:
[code]
With this import, no code would have to be cha

[2022-04-30 15:11] Cryaaa commented on #83
@ I'm all for it! It would fit there better anyway since it is mainly a table specific function! And regarding the issue raised I think this function would circumvent what Johannes was talking about

[2022-04-30 16:46] Cryaaa opened #84 "Add documentation and Prepare Release"
I have merged the timelapse PR but before we can release a new version we should update the Documentation and files:

- [x] New release version (with some backward compatibility breaking changes
Documentation:
- [x] Timelapse Measurement
- [x] How to deal with 2D timelapse data
- [x] Example timelapse data processing (possibly some movies generated by @haesleinhuepf in #77)
- [x] Reevaluate old ch

[2022-05-02 14:22] jo-mueller commented on #83
Hi @haesleinhuepf @Cryaaa ,

sounds like a good idea to me - another step of taking infrastructure code out of the clusters plotter and making it a bit more lightweight :)

[2022-05-02 14:47] haesleinhuepf opened #85 "Make a plotting-library"
Hi all,

we were recently discussing how to make the plotting-code available to other napari-plugins and reuse code instead of copy&pasting it.

Today, [napari-matplotlib](https://www.napari-hub.org/plugins/napari-matplotlib) was released. The [base class](https://github.com/dstansby/napari-matplotlib/blob/main/src/napari_matplotlib/base.py) in there might be pretty much a basic version of what we

[2022-05-02 15:17] jo-mueller opened #86 "Missing troubleshooting information"
Hi all,

I ran into an issue recently regarding installing GPU functionality on Mac - which should be covered by the info in the Readme in the troubleshooting section. However, this did not work for that particular device (maybe newer Mac devices require a different wrapper for opencl functionality?)

Anyway, installing [this package](https://anaconda.org/conda-forge/ocl_icd_wrapper_apple) fixed i

[2022-05-02 17:52] haesleinhuepf commented on #86
Correct! See also installation instructions [here](https://github.com/haesleinhuepf/devbio-napari#installation)

[2022-05-02 17:58] #86 closed

[2022-05-03 08:28] Cryaaa opened #88 "Add further Dimensionality Reduction Algorithms"
Some more dimensionality reduction algorithms might be interesting for exploring other visualisations:

- [ ] Diffusion maps: might be interesting since used in other developmental biology projects. Implementation [here](https://github.com/DiffusionMapsAcademics/pyDiffMap) with MIT license
- [ ] ISOMAP and MDS: both in sklearn: easy implementation
- [ ] others? I'm open to suggestions here

[2022-05-03 08:30] Cryaaa commented on #84
@haesleinhuepf: You had suggested a 2D timelapse dataset where it is easy to see what is going on during the timelapse, which we could use for making a few demo videos. Could you send me a link to it so I can prepare some graphics?

[2022-05-03 08:34] haesleinhuepf commented on #84
In case clesperanto is installed in napari, you find it under `File > Open examples > clesperanto > CalibZAPWfixed" and you need to use `Tools > Utilities > Convert 3D stack to 2D+t timelapse (time-slicer)` before you can pull it through measurements over time.

[2022-05-03 08:49] Cryaaa commented on #84
@haesleinhuepf thanks a lot!

[2022-05-03 10:47] haesleinhuepf commented on #84
@Cryaaa you can use [this notebook](https://haesleinhuepf.github.io/BioImageAnalysisNotebooks/33_batch_processing/14_process_timelapse.html) to create a compatible label image...

[2022-05-04 07:35] haesleinhuepf opened #90 "Update list of available features in Dimensionality Reduction and Clustering widgets"
We just discussed in the napari-community meeting, there should be an event thrown (something like `layer.features.update`), we could use to update the list of features.

To update events, this might be useful: https://github.com/napari/napari/pull/3802

@jni said, if this doesn't work, we should create an issue and it might be fixed in the upcoming napari 0.4.16. Thus, this has high priority.

CC

[2022-05-04 08:08] jni commented on #90
Here's one issue: labels doesn't have a features event (does it have features?):

[code]

[2022-05-04 09:34] haesleinhuepf commented on #90
@jni Labels are the only layers, where features are relevant to us 😱

[2022-05-04 11:16] Cryaaa commented on #90
@haesleinhuepf and @jni, thanks for the input guys! I have found out that for the labels layer an event is thrown for properties when features are set so maybe we can use this event instead?  Here is the napari code for feature setter in layers.py
[code]
whereas for the points layer it is slightly different calling an event for properties and features (from napari points.py)
[code]

maybe it is as

[2022-05-04 12:01] Cryaaa commented on #90
Small update: It works with the properties event

[2022-05-05 10:11] #84 closed

[2022-05-05 11:14] Cryaaa opened #94 "Bug when fresh installing the plugin"
I found a bug when trying to open a widget from code (but not when opening a widget through the menu)...

[code]

is what it throws and it looks like the problem lies with the the [napari tools menu](https://github.com/haesleinhuepf/napari-tools-menu). Do you have any hints on what could be the problem here @haesleinhuepf?

[2022-05-05 12:16] #94 closed

[2022-05-05 12:56] haesleinhuepf opened #95 "Drawn outline doesn't go away after drawing"
In the clusters plotter 0.5.0, when I draw an outline around data points and release the mouse, the blue outline of the drawing remains. I _think_ this is a new bug:

![image](https://user-images.githubusercontent.com/12660498/166927384-e7505e46-cc0d-4ee5-bd51-3e863053527c.png)

[2022-05-06 09:13] jo-mueller commented on #85
I added two PRs to napari-matplotlib that, at the very least, make it compliant (style-wise) with what we are doing in the clusters plotter. In that sense, we could use the base class from there to replace the code here.

For more advanced visualization, I think what we are looking for is very similar to what is discussed in [this issue](https://github.com/dstansby/napari-matplotlib/issues/19). Th

[2022-05-06 11:11] lazigu commented on #18
Closed in #77

[2022-05-06 11:11] #18 closed

[2022-05-07 09:00] haesleinhuepf commented on #83
Yes, I think this is a good idea. Furthermore, how about adding a parameter `overwrite_existing` with default value `False`?

[2022-05-09 08:22] Cryaaa commented on #90
with the next napari update also the labels layer will fire an event so I can cose this thread now!

[2022-05-09 08:22] #90 closed

[2022-05-09 08:24] Cryaaa commented on #85
@jo-mueller I really like this idea and I'm all for reducing the code in the plotting widget since this widget is the most difficult to read. Maybe as soon as we have a stable release of napari-matplotlib with the functionality you are suggesting we can start to integrate napari matplotlib into the cluster plotter

[2022-05-10 12:47] Cryaaa opened #97 "Test best visualisation methods"
In order to find out which method is fastest for visualising cluster identities we should have some testing notebooks which compare

- pyclesperanto cluster image generation
- numpy cluster image generation (possibly numba accelerated?
- use new colormap for cluster visualisation (for timelapse connect timepoint changed event to selection of new colormap)

Should be done before #81 since we could

[2022-05-11 13:28] Cryaaa commented on #97
As you guys can see the custom colormaps are pretty much head to head with pyclesperanto when viewing in 3D but are far superior when viewing in 2D. Since the creation of these does not require any extra libraries I think we should revert back to this way of visualising clusters. (I have figured out how to do that now).

[2022-05-11 13:39] zoccoler commented on #97
Hi Ryan @Cryaaa ,

That sounds reasonable to me looking at these results. Is the code for these tests available somewhere? I would love to take a look!

Best,
Marcelo

[2022-05-11 13:55] Cryaaa opened #98 "Improve Code Coverage"
We need to add some tests in order to improve code coverage. Mostly uncovered files are:

- [ ] Plotter (might change if we move code to napari matplotlib)
- [x] Measure (will be deleted sooner or later)
- [x] plotter utilities
- [x] utilities
- [ ] Fix issue #110

[2022-05-11 14:07] jo-mueller commented on #97
Hey @Cryaaa,

just to see whether I got this straight - you compared how long it took to create the label images with the label color according to the assigned cluster index? How many objects did you color in the plot above? Or in other words - is the difference so significant for images with 100-1000 objects or would I have to display ten-thousands of objects to find the differences above?

[2022-05-12 11:58] Cryaaa commented on #97
@zoccoler, @haesleinhuepf, @jo-mueller

I will upload it with a new PR soon. I can tag you in where I change the visualisation method!

So for the 3D dataset the embryo had roughly 3000 labels for which the cluster image was generated and the 4D dataset had roughly 3000 cells per frame and 32 frames (although only single time slices matter since the generation of label images is handled by dask me

[2022-05-12 20:56] haesleinhuepf commented on #97
An idea for improvement:

If you could reuse the pre-existing label image (when updating the visualization, at the second and following updates), the compute time for writing values into the label image should go down to almost 0 when using clesperanto. Read more: https://github.com/clij/clij-docs/blob/master/faq.md#does-reusing-memory-bring-additional-speed-up

[2022-05-13 06:51] Cryaaa commented on #97
@haesleinhuepf: Ahhhh okay so if I were not pulling the image and deleting the GPU image it would be much faster if I understood it right? To do that the GPU image would have to live outside of the function though am I right? I guess since we want to move away from pyclesperanto anyway it might make sense to remove the code entirely though

[2022-05-18 12:27] jo-mueller opened #103 "Use clusters-plotter on points data"
It would be super nice to use the clusters plotter on points data. Implementation could be relatively straightforward as points layers also have a `points.features` attribute where measurements could live. The resulting cluster ID could be stored in an additional column, just as we already do it with labels layers.

The color of points can be changed as follows (I think it max be the same as for l

[2022-05-18 12:31] jo-mueller opened #104 "Split objects belonging to the same classes into separate layers"
Suppose we have clustered some (timelapse) data and want to process only objects belonging to a particular class further (network stuff, etc) - in this case it could come handy to split the clustered objects into separate layers.

Also, one could use the clusters plotter to remove some malsegmented objects from image data - in this case, one would like to remove the "bad" objects from the image an

[2022-05-19 15:04] haesleinhuepf opened #107 "Select the number of UMAP dimensions"
Discussed during the DeepLineage meeting: It would be cool to be able to select the number of dimensions the generated UMAP should have.

[2022-06-07 13:19] Cryaaa commented on #97
As discussed in #100 we can't speed up 3D visualisation anyway and since the cluster image is not necessarily the bottleneck we will keep the old way of generating the cluster image.

[2022-06-07 13:19] #97 closed

[2022-06-07 13:28] Cryaaa opened #110 "Fix dimension reduction tests"
In #109 we had to comment out the testing function: `test_call_to_function` in `test_dimension_reduction.py` to fix tests timing out on mac OS. This decreased code coverage and we should look at what caused this and how we can fix this but for now we will leave the test commented out to push the next release.

[2022-06-20 01:26] haesleinhuepf opened #114 "Selection is reset in measurements-list"
In the clustering widget (and potentially also other places), the selection in the measurements-list is reset and that's hard to see for the user.

To reproduce:
* Load data (e.g. blobs), segment it, appyly measurements.
* Use the dimensionality reduction widget, e.g. UMAP
* Use the clustering widget:
  * Select UMAP0 and UMAP1 only
  * Cluster, e.g. K-Means

After clustering, all measurments will

[2022-07-19 08:39] Cryaaa commented on #114
@haesleinhuepf thanks for bringing that to our attention. I have also noticed that this behaviour is quite annoying and I'll look into it!

[2022-07-22 13:40] Michael-L-Miller opened #118 "Feature Request: Use other layer types"
This plugin is great.

My images are very large though so using a 'label' layer is very slow and memory intense. It would be great if support was added for other layer types, such as 'points'.

For context, I perform segmentation outside of Napari and have the object centers as xy coordinates in a separate CSV file. From the CSV file, I visualize the object centers in Napari as 'points'.

[2022-07-22 15:53] jesusdpa1 opened #119 "Add CITATION.cff file"
Hi

Is it possible to add a citation file [CITATION.cff] to the repository?

https://citation-file-format.github.io/

[2022-07-22 22:08] Michael-L-Miller commented on #118
That’s great to hear. Thanks for the follow up. I’ll keep an eye out for the next release.

Sent from my iPhone

[2022-07-24 19:56] Michael-L-Miller commented on #118
I found a work around that allows me to keep the label layer fast. I generate the label array on a sub resolution (1/8th size). This revealed another possible issue which hopefully will be easy to address. I will post it in a separate ticket for tracking purposes.

[2022-07-24 22:35] Michael-L-Miller opened #120 "Scale mismatch between label layer and highlighted/selected cluster"
I am generating labels at sub resolution and overlaying them to the full resolution image by using the layer's scale argument.

viewer.add_labels(labelData, name='Fibers', scale=(8,8)).

This scale is not inherited by the "cluster_ids_in_space" layer generated after selecting points on the scatter plot.

[2022-07-25 08:31] lazigu commented on #119
Hi @jesusdpa1,
Definitely, thanks for pointing this out!

[2022-07-25 08:47] lazigu commented on #120
Hi @Michael-L-Miller,
Thanks a lot for reporting! Great that you found such a workaround to work with your data.
We will look into this issue.

[2022-07-25 08:58] #119 closed

[2022-08-19 11:02] jaimergp opened #126 "Python 3.10 compatibility"
Hi folks!

Quick question: what's the reason behind this line?

https://github.com/BiAPoL/napari-clusters-plotter/blob/815ea7036758d22db085ae18869e3f9804943e63/setup.cfg#L34

We are running into this p[y310 migration issue for another package that depends on this project](https://github.com/conda-forge/morphometrics-feedstock/pull/1), where it cannot be built due to the restrictive Python pinning.

[2022-08-19 11:50] haesleinhuepf commented on #126
Hi @jaimergp

thanks for bringing this up. This was done ([git blame](https://github.com/BiAPoL/napari-clusters-plotter/commit/77a9d276fb5308cd90169a067f9b34f1e11c411c)) because of issues with [umap](https://umap-learn.readthedocs.io/en/latest/) in python 3.10.  I will send a PR because I presume the issue is resolved.

Thanks again!

Best,
Robert

[2022-08-19 20:51] #126 closed

[2022-08-28 15:54] lazigu opened #131 "Cluster IDs in space is incorrent/current frame is not highlighted for a timelapse in version 0.5.2"
Hi, all!

There is a bug in version 0.5.2 (not sure about 0.5.1, I haven't tested that one). However, in 0.5.0 it works perfectly.
In the image below, on the left - version 0.5.2, and on the right - 0.5.0 with exactly the same data, reg props file and manual cluster. The current timepoint is not highlighted in the plot, and manual clustering in the generated cluster_ids_in_space is wrong.
![image]

[2022-09-27 09:33] lazigu opened #135 "Remove joblib constraint"
This is just a reminder to remove the joblib constraint introduced in #134 due to its current incompatibility with HDBSCAN (see the issue linked in the referenced PR)

[2022-10-19 08:47] jo-mueller opened #137 "`Plot measurements` should be in the Visualization menu in the tools"
Headline says it all - I find it confusing that this widget is there.

[2022-10-19 09:59] haesleinhuepf commented on #137
Fine with me. We can have menus in multiple places. Example:
https://github.com/haesleinhuepf/napari-process-points-and-surfaces/blob/b1eee0567e9b879e8c873d7fc3c0a01752df039c/napari_process_points_and_surfaces/__init__.py#L321

Would you mind sending a PR @jo-mueller ?

Thanks!
Robert

[2022-10-19 11:13] jo-mueller commented on #137
Sure thing

[2022-10-22 18:29] haesleinhuepf opened #138 "Error when using HDBSCAN"
I just executed HDBSCAN clustering and received an error. We also saw it during the course last week:

[code]

Maybe HDBSCAN was updated and we need to update our code as well. When running this from the napari console, the error pops up as well:
[code]

[2022-10-22 18:29] haesleinhuepf commented on #138
Just some more version info:
[code]

[2022-10-22 18:35] lazigu commented on #138
Hi Robert @haesleinhuepf,

This is due to [this ](https://github.com/scikit-learn-contrib/hdbscan/issues/565). I have pinned joblib version in #134 to not have failing tests (hence the issue  #135 when the problem is fixed), but I never made a release with a pinned version..

[2022-10-22 19:01] haesleinhuepf commented on #138
Thank you for the lightspeed feedback @lazigu ! There's no hurry to fix this by releasing a new version. I'm just documenting it so that we don't forget it. 🌞

[2022-10-22 19:29] haesleinhuepf commented on #81
Btw. the measurements are already available in napari-pyclesperanto-assistant:
https://github.com/clEsperanto/napari_pyclesperanto_assistant/blob/ad72ecae7d017ba63f579f05dd00be627f36e89b/napari_pyclesperanto_assistant/_advanced_statistics.py#L9

Thus, we can safely remove the measurements from the clusters plotter.

The only thing that's still there is replacing this section:
https://github.com/Bi

[2022-10-24 17:33] haesleinhuepf commented on #81
Hey Ryan @Cryaaa ,

I just saw this commit: https://github.com/BiAPoL/napari-clusters-plotter/commit/a31a986449e0e77221608b264d6cb340742d1adf

Note that very similar functionality already exists here: https://github.com/haesleinhuepf/napari-skimage-regionprops/blob/master/napari_skimage_regionprops/_load_csv.py

Let me know if we should change something there. Also how about a coffee at Katja's ne

[2022-10-24 17:37] Cryaaa commented on #81
@haesleinhuepf,
just as I recieved your comment I realised that I should have looked there to see if the function is already implemented *facepalm*. I'm all for reusing so I'll revert this commit again. I could come this week or next week, whatever is best for you, I'm free this week but next week I'll start with Jesse but I'm sure I could find some time!

[2022-10-26 15:47] #81 closed

[2022-10-28 18:37] #114 closed

[2022-11-01 14:34] #137 closed

[2022-11-09 20:09] haesleinhuepf opened #144 "HUMAP"
I just found the HUMAP online: https://github.com/wilsonjr/humap

Maybe it's worth a try? It's conda-installable and if it makes sense, we could add it to our list of dimensionality reduction techniques.